---
import GeneralLayout from "@/layouts/GeneralLayout.astro";


---

<GeneralLayout title="Welcome to Astro">
  <h1>Welcome to Astro</h1>
  <p>
    Astro is a new kind of static site builder that delivers lightning-fast
    performance and modern developer experience.
  </p>
</GeneralLayout>
