---
import CounterBanner, { type CounterBannerProps } from "@/components/pages/v1/CounterBanner.astro";
import type { GeneralLayoutProps } from "@/layouts/GeneralLayout.astro";
import LayoutV1 from "@/components/pages/v1/LayoutV1.astro";

interface Props extends GeneralLayoutProps, CounterBannerProps {}

const { title, hideButton: hideCounterButton } = Astro.props;
---

<LayoutV1 title={title} >  
  <div class="page relative pb-6 lg:pb-6">
    <CounterBanner hideButton={hideCounterButton} />
    <div class="h-4 bg-[--body-bg-v1]" />
    <slot />
  </div>
</LayoutV1>
