---
import { getPrice } from "@/utils/functions";
import { detailsStore } from "@/storage/details";
import ButtonBuy from "./ButtonBuy";
import { ShoppingCart } from "@/components/icons";
import PriceSpan from "./PriceSpan.astro";
const input = detailsStore.value?.input;
if (!input) return;
const price = getPrice(input.price, "USD");
const originalPrice = getPrice(input.normalPrice, "USD");
---

<section
  class="fixed bottom-0 left-0 flex flex-row items-center justify-center w-full h-fit py-1 px-3 lg:hidden z-50 backdrop-blur-sm bg-opacity-80"
>
  <ButtonBuy
    client:load
    details={detailsStore.value}
    className="w-full flex items-center justify-center gap-2 py-2"
  >
    <div class="flex flex-row gap-2 items-center justify-center w-full">
      <ShoppingCart />
      Consiguelo ahora por solo
      <PriceSpan price={price} originalPrice={originalPrice} />
    </div>
  </ButtonBuy>
</section>

<style>
  .original-price {
    text-decoration: line-through;
  }
  section {
  }
</style>
