---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<section
  class={"max-w-[95vw] md:max-w-[90vw] lg:max-w-[1000px] xl:max-w-[1200px] xl:w-[95vw] flex gap-2 lg:gap-10 mx-auto " +
    className}
>
  <slot />
</section>
