---
import { ViewTransitions } from 'astro:transitions';
export interface GeneralLayoutProps {
  title?: string;
}

interface Props extends GeneralLayoutProps {}

const { title } = Astro.props;
const titleDefault = "iSE";
let titleFinal = "";

if(!title || title.trim() === "") {
  titleFinal = titleDefault;
} else {
  titleFinal = title + " - " + titleDefault;
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon"  href="/favicon.webp"  type="image/webp" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{titleFinal}</title>
    <ViewTransitions />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;    
    color-scheme: light dark;
    --dark-1: #0e364f;
    --dark-2: #042437;
    --yellow-1: #FFCD14;
    --sky-1: #0BA5BE;
    --sky-1-hover: #0598af;
    --sky-2: #0A7A9A;
    --sky-3: #57b9e0;
    
    
    --body-bg-v1: var(--dark-1);
    --header-bg-v1: var(--dark-2);  
      
  }

  * {
    margin: 0;
    padding: 0;
  }

  
</style>

<style>
  body {
  }
</style>
